UID=0
GID=0
TZ=Africa/Casablanca
RENDER_GROUP=
RCLONE_VFS_CACHE_MODE=full
RCLONE_VFS_CACHE_MAX_SIZE=100G
RCLONE_VFS_CACHE_MAX_AGE=168h
RCLONE_BWLIMIT=3.75M
REVERSE_PROXY_NETWORK_NAME=reverse-proxy
DECYPHARR_HOST=
PROWLARR_HOST=
SONARR_HOST=
RADARR_HOST=
BAZARR_HOST=
JELLYFIN_HOST=
JELLYSEERR_HOST=
