services:
  zurg:
    image: ghcr.io/debridmediamanager/zurg-testing:v0.9.3-final
    container_name: zurg
    restart: unless-stopped
    ports:
      - 9999:9999
    volumes:
      - ./zurg/config.yml:/app/config.yml
      - zurgdata:/app/data

  decypharr:
    image: cy01/blackhole:v1.1.6
    container_name: decypharr
    ports:
      - 8282:8282
    volumes:
      - decypharrconfig:/app
      - ./content/mnt:/content/mnt
      - ./content/symlinks:/content/symlinks
      - ./content/media:/content/media
    restart: unless-stopped
    environment:
      PUID: ${UID}
      PGID: ${GID}
    healthcheck:
      test: ["CMD", "/usr/bin/healthcheck", "--config", "/app/"]
      interval: 10s
      timeout: 10s
      retries: 3
    depends_on:
      - rclone

  rclone:
    image: rclone/rclone:1.71.2
    container_name: rclone
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      PUID: ${UID}
      PGID: ${GID}
    volumes:
      - ./content/mnt:/data:rshared
      - ./rclone/rclone.conf:/config/rclone/rclone.conf:ro
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    devices:
      - /dev/fuse:/dev/fuse:rwm
    command: >
      mount realdebrid: /data
      --allow-other
      --allow-non-empty
      --dir-cache-time 10s
      --vfs-cache-mode ${RCLONE_VFS_CACHE_MODE}
      --vfs-cache-max-size ${RCLONE_VFS_CACHE_MAX_SIZE}
      --vfs-cache-max-age ${RCLONE_VFS_CACHE_MAX_AGE}
      --bwlimit ${RCLONE_BWLIMIT}

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.3
    container_name: flaresolverr
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.1.5
    container_name: prowlarr
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - prowlarrconfig:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    depends_on:
      - flaresolverr

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.15
    container_name: sonarr
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - sonarrconfig:/config
      - ./content/symlinks:/content/symlinks
      - ./content/mnt:/content/mnt
      - ./content/media/shows:/content/media/shows
      - ./content/media/anime_shows:/content/media/anime_shows
    ports:
      - 8989:8989
    restart: unless-stopped
    depends_on:
      prowlarr:
        condition: service_started
      decypharr:
        condition: service_healthy
        restart: true

  radarr:
    image: lscr.io/linuxserver/radarr:5.28.0
    container_name: radarr
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - radarrconfig:/config
      - ./content/symlinks:/content/symlinks
      - ./content/mnt:/content/mnt
      - ./content/media/movies:/content/media/movies
      - ./content/media/anime_movies:/content/media/anime_movies
    ports:
      - 7878:7878
    restart: unless-stopped
    depends_on:
      prowlarr:
        condition: service_started
      decypharr:
        condition: service_healthy
        restart: true

  bazarr:
    image: lscr.io/linuxserver/bazarr:1.5.3
    container_name: bazarr
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    volumes:
      - bazarrconfig:/config
      - ./content/mnt:/content/mnt
      - ./content/media/shows:/content/media/shows
      - ./content/media/anime_shows:/content/media/anime_shows
      - ./content/media/movies:/content/media/movies
    ports:
      - 6767:6767
    restart: unless-stopped
    depends_on:
      - sonarr
      - radarr

  jellyfin:
    image: jellyfin/jellyfin:10.11.2
    container_name: jellyfin
    user: ${UID}:${GID}
    group_add:
      - ${RENDER_GROUP}
    ports:
      - 8096:8096
    volumes:
      - jellyfinconfig:/config
      - jellyfincache:/cache
      - ./content:/content:ro
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    restart: unless-stopped
    depends_on:
      decypharr:
        condition: service_healthy
        restart: true

  jellyseerr:
    image: fallenbagel/jellyseerr:2.7.3
    container_name: jellyseerr
    ports:
      - 5055:5055
    volumes:
      - jellyseerrconfig:/app/config
    restart: unless-stopped
    depends_on:
      - sonarr
      - radarr
      - jellyfin

volumes:
  zurgdata:
  decypharrconfig:
  prowlarrconfig:
  bazarrconfig:
  sonarrconfig:
  radarrconfig:
  jellyfinconfig:
  jellyfincache:
  jellyseerrconfig:
